.AppLayout {
  text-align: center;
  height: 100vh;

  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;

    h1 {
      color: #FFF;
      margin-bottom: 0;
    }
  }

  .Content {
    padding: 1rem 0;
  }

  .Column {
    padding: 2rem 0;
  }
}
