.AppLayout {
  text-align: center;
  height: 100vh;
}

.AppLayoutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;

  h1 {
    color: #FFF;
    margin-bottom: 0;
  }
}

.AppLayoutContent {
  padding: 3rem 0;
}
